<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Colorpicker</nom>
 	<version>1.0</version>
 	<prefix>colorpicker</prefix>
	<type>classique</type>
 	<auteur>Cyril Batillat, Scopika.com</auteur>
 	<thelia>1.5.1</thelia>
 	<description>
 		Ce plugin ajoute un champ de sélection de couleur sur les fiches produits
 		&lt;br/&gt; Création : Cyril Batillat, &lt;a href="http://www.scopika.com" style="color:#FF0066"&gt;Agence Scopika&lt;/a&gt;
 	</description>
	<documentation>README</documentation>
</plugin>
